@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --global-hue: 190; /** default 190 */
    --dark-bg-color: hsl(var(--global-hue), 50%, 15%);
    --medium-bg-color: hsl(var(--global-hue), 50%, 60%);
    --light-bg-color: hsl(var(--global-hue), 50%, 75%);
    --extra-light-bg-color: hsl(var(--global-hue), 30%, 90%);
    --global-font: 'Montserrat', sans-serif;
}

* {
    font-family: var(--global-font);
}

body {
    background-color: var(--extra-light-bg-color);
    transition: all ease-in-out 0.25s;
}

.dark-bg-color {
    background-color: var(--dark-bg-color);
}

.dark-text-color {
    color: var(--dark-bg-color); 
}

.medium-text-color {
    color: var(--medium-bg-color);
}

.underline-medium-color {
    text-decoration: none;
    border-bottom: 4px solid var(--medium-bg-color);
}

.underline-extra-light-color {
    text-decoration: none;
    border-bottom: 4px solid var(--extra-light-bg-color);
}

.light-text-color {
    color: var(--extra-light-bg-color);
}

.medium-bg-color {
    background-color: var(--medium-bg-color);
}

.light-bg-color {
    background-color: var(--light-bg-color);
}

.extra-light-bg-color {
    background-color: var(--extra-light-bg-color);
}

.expand-hover:hover {
    transform: scale(1.1);
    transition: all 0.25s ease-in-out;
}

/* CSS for dark mode */
.dark-theme {
    background-color: #282828;
    color: white;
}

@keyframes flip {
    0%, 100% {
        transform: translateY(0) rotateX(0deg);
    }
    50% {
        transform: translateY(-10px) rotateX(180deg);
    }
}
  
  
.animate-bounce-custom {
    animation: flip 0.25s linear; /* Adjust the duration (2s) as needed */
}